/* Centered a Text Element Horizontally*/
.text-center-element{
  width: 100%;
  text-align: center;
  display: block;
}

/* Align Text Left*/
.text-left{
  text-align: left;
}

/* Align Text Center*/
.text-left{
  text-align: center;
}

/* Align Text Right*/
.text-left{
  text-align: right;
}
