// Centered a Text Element Horizontally
.text-center-block{
  width: 100%;
  text-align: center;
  display: block;
}

// Align Text Left
.text-left{
  text-align: left;
}

// Align Text Center
.text-center{
  text-align: center;
}

// Align Text Right
.text-right{
  text-align: right;
}
