// makes the first letter large similar to the begining of chapters in books
.text-chapter:first-letter {
  font-size: 6em;
  @extend .text-bold;
  text-transform: uppercase;
  display: block;
  float: left;
  margin: 0 15px 0 0;
  line-height: .9;
}
// If indent and chapter are set, remove indent
.text-chapter.text-indent{
  text-indent: 0;
}

// add indentation to multiple lines of text
.text-indent{
  text-indent: 40px;
}
