// makes the first letter large similar to the begining of chapters in books
.text-chapter::first-letter{
  font-size: 6.25em;
  @extend .text-bold;
  text-transform: uppercase;
  display: block;
  float: left;
  margin: 0 0.17em 0 0;
  line-height: .9;
}
.text-chapter-cursive::first-letter{
  @extend .text-chapter;
  @extend .font-cursive;
}
// If indent and chapter are set, remove indent
.text-chapter.text-indent,
.text-chapter-cursive.text-indent{
  text-indent: 0;
}

// add indentation to multiple lines of text
.text-indent{
  text-indent: 2.5em;
}
