// Based off of Bootsraps text color classes http://getbootstrap.com/css/#type
// Success green
.text-success{
  color: $color-success;
}

// Warning orange
.text-warning{
  color: $color-warning;
}

// Danger red
.text-danger{
  color: $color-danger;
}

// Muted grey
.text-muted{
  color: $color-grey;
}

// Info blue
.text-info{
  color: $color-info;
}
