// Normal heading presets
@mixin heading{
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  line-height: 1.1;
  color: inherit;
  // Make small elements grey in these elements
  small,
  .small{
    color: $color-grey;
  }
}
// Based off of Bootsraps header classes http://getbootstrap.com/css/#type
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  @include heading;
  @extend .text-bold;
}

h1, .h1{
  font-size: 2.25rem;
}
h2, .h2{
  font-size: 1.875rem;
}
h3, .h3{
  font-size: 1.5rem;
}
h4, .h4{
  font-size: 1.125rem;
}
h5, .h5{
  font-size: 0.875rem;
}
h6, .h6{
  font-size: 0.75rem;
}

// Extra large MIGHTY text
.mighty-1,
.mighty-2,
.mighty-3,
.mighty-4{
  @include heading;
  @extend .text-light;
}

.mighty-1{
  font-size: 6rem;
}
.mighty-2{
  font-size: 5rem;
}
.mighty-3{
  font-size: 4rem;
}
.mighty-4{
  font-size: 3.5rem;
}
