// Bold Text is in 'wieght' section

// Italic Text
i,
em,
.text-italic{
  font-style: italic;
}

// Strikethrough Text
.text-strike{
  text-decoration: line-through;
}

// Underlined Text
.text-underline{
  text-decoration: underline;
}

// Highlight Text
mark,
.text-highlight{
  padding: .2em;
  color: #000;
  background: $color-highlight;
}

// Overide system highlighting
.text-user-highlight::-moz-selection,
.text-user-highlight *::-moz-selection{
  color: #000;
  background: $color-highlight;
}
.text-user-highlight::selection,
.text-user-highlight *::selection{
  color: #000;
  background: $color-highlight;
}

// Make text 85% smaller
small,
.text-small{
  font-size: .80em;
}

// Uppercase Text
.text-uppercase{
  text-transform: uppercase;
}

// Lowercase Text
.text-lowercase{
  text-transform: lowercase;
}

// Capitalize Text
.text-capitalize{
  text-transform: capitalize;
}

// Based off of Bootsraps text color classes http://getbootstrap.com/css/#type
// Success green
.text-success{
  color: $color-success;
}

// Warning orange
.text-warning{
  color: $color-warning;
}

// Danger red
.text-danger{
  color: $color-danger;
}

// Muted grey
.text-muted{
  color: $color-grey;
}

// Info blue
.text-info{
  color: $color-info;
}

// Super and Sub Script, taken from Normalize.css http://necolas.github.io/normalize.css/
sub,
sup,
.text-superscript,
.text-subscript,{
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup,
.text-superscript{
  top: -0.5em;
  left: 0.05em;
}
sub,
.text-subscript{
  bottom: -0.25em;
  left: 0.05em;
}
