// Bold Text is in 'wieght' section

// Italic Text
.text-italic{
  font-style: italic;
}

// Strikethrough Text
.text-strike{
  text-decoration: line-through;
}

// Underlined Text
.text-underline{
  text-decoration: underline;
}

// Highlight Text
.text-highlight{
  padding: .2em;
  color: #000;
  background: #ff0;
}

// Make text 85% smaller
.text-small{
  font-size: .85em;
}

// Uppercase Text
.text-uppercase{
  text-transform: uppercase;
}

// Lowercase Text
.text-lowercase{
  text-transform: lowercase;
}

// Capitalize Text
.text-capitalize{
  text-transform: capitalize;
}
