// style text to link
a,
a:visited,
.text-link,
.text-link:visited{
  color: $color-link;
  text-decoration: none;
  cursor: pointer;
  &:hover{
    @extend .text-underline;
    color: $color-link;
  }
}
