// Monospaced font
.font-monospace{
  font-family: "Courier New", Courier, monospace;
}

// Serifed font
.font-serif{
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif;
}

// San-serifed font
.font-san-serif{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
