$color-black:     #333333;
$color-success:   #5cb85c;
$color-warning:   #f0ad4e;
$color-danger:    #d9534f;
$color-info:      #0275d8;
$color-highlight: #FFFF80;
$color-grey:      #818a91;
$color-link:      #084B8A;

// Golden Ratio https://en.wikipedia.org/wiki/Golden_ratio
$golden-ratio:    1.61803398875;
