// Ultra Light Text
.text-ultra-light{
  font-weight: 100;
}

// Light Text
.text-light{
  font-weight: 300;
}

// Normal Text
.text-normal{
  font-weight: normal;
}

// Heavy Text
.text-heavy{
  font-weight: 500;
}

// Bold Text
b,
strong,
.text-bold{
  font-weight: bold;
}
