// Ultra Light Text
.text-ultra-light{
  font-weight: 100;
}

// Light Text
.text-light{
  font-weight: 300;
}

// Regular Text
.text-regular{
  font-weight: 500;
}

// Heavy Text
.text-heavy{
  font-weight: 700;
}

// Bold Text
b,
strong,
.text-bold{
  font-weight: bold;
}
