/*! Poet v0.0.1 | MIT license | Maintained by Stuart Yamartino */
html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  line-height: 1.5;
  color: #333333; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  line-height: 1.1;
  color: inherit; }
  h1 small,
  h1 .small, .h1 small,
  .h1 .small,
  h2 small,
  h2 .small, .h2 small,
  .h2 .small,
  h3 small,
  h3 .small, .h3 small,
  .h3 .small,
  h4 small,
  h4 .small, .h4 small,
  .h4 .small,
  h5 small,
  h5 .small, .h5 small,
  .h5 .small,
  h6 small,
  h6 .small, .h6 small,
  .h6 .small {
    color: #818a91; }

h1, .h1 {
  font-size: 2.25rem; }

h2, .h2 {
  font-size: 1.875rem; }

h3, .h3 {
  font-size: 1.5rem; }

h4, .h4 {
  font-size: 1.125rem; }

h5, .h5 {
  font-size: 0.875rem; }

h6, .h6 {
  font-size: 0.75rem; }

.mighty-1,
.mighty-2,
.mighty-3,
.mighty-4 {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  line-height: 1.1;
  color: inherit; }
  .mighty-1 small,
  .mighty-1 .small,
  .mighty-2 small,
  .mighty-2 .small,
  .mighty-3 small,
  .mighty-3 .small,
  .mighty-4 small,
  .mighty-4 .small {
    color: #818a91; }

.mighty-1 {
  font-size: 6rem; }

.mighty-2 {
  font-size: 5rem; }

.mighty-3 {
  font-size: 4rem; }

.mighty-4 {
  font-size: 3.5rem; }

i,
em,
.text-italic {
  font-style: italic; }

.text-strike {
  text-decoration: line-through; }

.text-underline, .text-link:hover {
  text-decoration: underline; }

mark,
.text-highlight {
  padding: .2em;
  color: #000;
  background: #FFFF00; }

small,
.text-small {
  font-size: .80em; }

.text-uppercase {
  text-transform: uppercase; }

.text-lowercase {
  text-transform: lowercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-success {
  color: #5cb85c; }

.text-warning {
  color: #f0ad4e; }

.text-danger {
  color: #d9534f; }

.text-muted {
  color: #818a91; }

.text-info {
  color: #0275d8; }

sub,
sup,
.text-superscript,
.text-subscript {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup,
.text-superscript {
  top: -0.5em;
  left: 0.05em; }

sub,
.text-subscript {
  bottom: -0.25em;
  left: 0.05em; }

.text-center-element {
  width: 100%;
  text-align: center;
  display: block; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-ultra-light {
  font-weight: 100; }

.text-light, .mighty-1,
.mighty-2,
.mighty-3,
.mighty-4 {
  font-weight: 300; }

.text-normal, html,
body {
  font-weight: normal; }

.text-heavy {
  font-weight: 500; }

b,
strong,
.text-bold,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.text-chapter:first-letter,
.text-chapter-cursive:first-letter {
  font-weight: bold; }

.font-san-serif, html,
body,
.font-sanserif {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

.font-serif {
  font-family: TimesNewRoman, 'Times New Roman', Times, Baskerville, Georgia, serif; }

.font-monospace {
  font-family: "Courier New", Courier, monospace; }

.font-cursive, .text-chapter-cursive:first-letter {
  font-family: cursive; }

.text-chapter:first-letter, .text-chapter-cursive:first-letter {
  font-size: 6.25em;
  text-transform: uppercase;
  display: block;
  float: left;
  margin: 0 0.17em 0 0;
  line-height: .9; }

.text-chapter.text-indent, .text-indent.text-chapter-cursive:first-letter,
.text-chapter-cursive.text-indent {
  text-indent: 0; }

.text-indent {
  text-indent: 2.5em; }

@media only screen and (min-width: 360px) {
  .text-fluid {
    font-size: 1.224rem; } }
@media only screen and (min-width: 390px) {
  .text-fluid {
    font-size: 1.248rem; } }
@media only screen and (min-width: 420px) {
  .text-fluid {
    font-size: 1.272rem; } }
@media only screen and (min-width: 450px) {
  .text-fluid {
    font-size: 1.296rem; } }
@media only screen and (min-width: 480px) {
  .text-fluid {
    font-size: 1.32rem; } }
@media only screen and (min-width: 510px) {
  .text-fluid {
    font-size: 1.344rem; } }
@media only screen and (min-width: 540px) {
  .text-fluid {
    font-size: 1.368rem; } }
@media only screen and (min-width: 570px) {
  .text-fluid {
    font-size: 1.392rem; } }
@media only screen and (min-width: 600px) {
  .text-fluid {
    font-size: 1.416rem; } }
@media only screen and (min-width: 630px) {
  .text-fluid {
    font-size: 1.44rem; } }
@media only screen and (min-width: 660px) {
  .text-fluid {
    font-size: 1.464rem; } }
@media only screen and (min-width: 690px) {
  .text-fluid {
    font-size: 1.488rem; } }
@media only screen and (min-width: 720px) {
  .text-fluid {
    font-size: 1.512rem; } }
@media only screen and (min-width: 750px) {
  .text-fluid {
    font-size: 1.536rem; } }
@media only screen and (min-width: 780px) {
  .text-fluid {
    font-size: 1.56rem; } }
@media only screen and (min-width: 810px) {
  .text-fluid {
    font-size: 1.584rem; } }
@media only screen and (min-width: 840px) {
  .text-fluid {
    font-size: 1.608rem; } }
@media only screen and (min-width: 870px) {
  .text-fluid {
    font-size: 1.632rem; } }
@media only screen and (min-width: 900px) {
  .text-fluid {
    font-size: 1.656rem; } }
@media only screen and (min-width: 930px) {
  .text-fluid {
    font-size: 1.68rem; } }
@media only screen and (min-width: 960px) {
  .text-fluid {
    font-size: 1.704rem; } }
.text-link {
  color: #084B8A;
  text-decoration: none;
  cursor: pointer; }
  .text-link:hover {
    color: #084B8A; }

.text-unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none; }

/*# sourceMappingURL=poet.css.map */
